body{
    background-color: #010409;
    color: white;
    padding: 0;
    margin: 0;
    height: 100vh;
}

main{
    display: grid;
    place-items: center;
    height: calc(100vh - 69px);
}

header {
    height: 48px;
    padding: 10px;
    border-bottom-style: solid;
    border-color: #30363d;
    border-width: 1px;
}

a {
    user-select: none;
}

a > img{
    height: 48px;
}
