body{
    border-color: #8f8f9d;
}

#search-bar {
    width: 25vw;
    min-width: 500px;
    font-size: large;
}

.bar{
    display: flex;
    height: 32px;
}

.bar> button{
    flex-grow: 1;
}

.bar > input{
    outline: none;
    flex-grow: 9;
}

#results {
    position: absolute;
    margin-top: 5px;
    width: 22vw;
    min-width: 440px;
    padding: 5px;
    box-shadow: 1px 1px 1px 1px #8f8f9d;
    border-radius: 5px;
    background:  white;
    border-style: solid;
    border-width: thin;
    border-color: #8f8f9d;
}

.search-select {
    cursor:pointer;
    height: 32px;
    width: 100%;
    border-radius: 5px;

    display: block;
    border: none;
    background: none;

    text-align: left;
}

.search-select:hover, .search-select:focus{
    outline: none;
    color: white;
    background: #3584e4;
}

#checkbox{
    display: none;
}

#selector {
    height: 32px;
    font-weight:300;

    width: 100px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    border-style: solid;
    border-width: thin;
    border-color: #8f8f9d;
    
    border-radius: 5px;
}

#left, #right {
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    vertical-align: middle;
    border-style: none;
    user-select: none;
    cursor:pointer;
}

#left:hover, #left:focus, #right:hover, #right:focus{
    color: white;
    background: #3584e4;
}

#left{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #8f8f9d;
}

#right{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #8f8f9d;
}
