h3 {
    margin: 0;
}
#top {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#main, #misc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#wind{
    flex: 1;
}

#wind-table{
    height: 100%;
    width: 100%;
}

#icon-temp{
    flex: 1;
    position: relative;
}

#temp{
    flex: 1;
}

#temp-table{
    height: 100%;
    width: 100%;
}

#icon-temp > h4{
    position: absolute;
    font-size: x-large;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.col {
    font-style: italic;
    font-weight: bold;
    text-align: left;
}

.row {
    text-align: right;
}

.tr, .row, .col {
    border-radius: 5px;
    border: thin solid #8f8f9d;
    padding: 8px;
}

h4{
    margin: 0;
    text-align: center;
}
