#tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

.tab{
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
    font-size: medium;
    cursor: pointer;
}

#day-data{
    display: flex;
    align-items: center;
    justify-content: center;
}

