#search-bar {
    width:calc(30vw + 2px);
    min-width:calc(352px + 2vw);
    max-width:calc(1000px + 2vw);
}

.bar{
    display: flex;
    height: 32px;
}

.bar > input{
    width: 100%;
    background-color: #010409;
    border-color: #30363d;

    border-width: 1px;
    border-style: solid;

    color: white;
    outline: none;
}

#results {
    position: absolute;
    margin-top: 5px;
    padding: 5px;

    border-style: solid;
    border-width: 1px;

    background-color: #010409;
    border-color: #30363d;

    box-shadow: 1px 1px 1px 1px #30363d;
    border-radius: 5px;

    width:calc(30vw - 10px);
    min-width:calc(342px + 2vw);
    max-width:calc(990px + 2vw);
}

.search-select {
    display: block;

    height: 32px;
    width: 100%;


    border: none;
    border-radius: 5px;
    background: none;

    text-align: left;
    color: white;

    cursor:pointer;
}

.search-select:hover, .search-select:focus{
    outline: none;
    color: white;
    background: rgba(193, 89, 63, 0.5);
}
