#weather-box{
    background-color: #0d1117;
    border-style: solid;
    border-width: thin;
    border-color: #30363d;
    border-radius: 5px;

    width: 28vw;
    min-width: 350px;
    max-width: 1000px;

    height: 660px;
    padding: 1vw;
}

#mode {
    height: 32px;
    width: 125px;
    display: flex;

    align-items: center;
    border-radius: 5px;
    border-color: #30363d;
    border-width: thin;
    border-style: solid;
}

#left, #right {
    height: 100%;
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    user-select: none;
    cursor:pointer;

    font-weight:300;
}

#left{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#right{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    border-left-color: #30363d;
    border-left-width: thin;
    border-left-style: solid;
}

#location{
    text-align: center;
    text-decoration: underline;
    margin: 0 0 15px 0;
}


#options{
    display: flex;
    justify-content: space-between;
}

#unit{
    user-select: none;
}

#metric, #imperial {
    cursor:pointer;
    padding: 2px;
    font-size: x-large;
}

#metric {
    border-left-color: #30363d;
    border-left-width: thin;
    border-left-style: solid;
}

.spinner {
  display: inline-block;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#center-main{
    display: grid;
    place-items: center;
}
