#weather-box{
    border-style: solid;
    border-width: thin;
    border-color: #8f8f9d;
    border-radius: 5px;

    padding: 10px;
    width: calc(25vw - 20px);
    min-width: 480px;
    font-size: large;
}

#selector {
    height: 32px;
    width: 100px;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;

    border-style: solid;
    border-width: thin;
    border-color: #8f8f9d;
    
    border-radius: 5px;
}

#left, #right {
    font-size:small;
    font-weight:200;
    text-align: center;
    display: flex;
    place-items: center;
    justify-content: center;
    vertical-align: middle;
    border-style: none;
    user-select: none;
    cursor:pointer;
}

#left{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

#right{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

    border-left-width: thin;
    border-left-style: solid;
    border-left-color: #8f8f9d;
}


